@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Shrikhand&display=swap");
@keyframes loader-hidden {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
    height: 100vh;
  }
  100% {
    opacity: 0;
    height: 0vh;
  }
}

.cercles {
  display: flex;
  width: 150px;
  height: 150px;
  position: relative;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.cercle {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 50%;
  border: 10px solid transparent;
  animation: rotation 3s ease-in-out;
}

.cercle-first {
  border-top: 10px solid #c570d5;
}

.cercle-second {
  border-bottom: 10px solid #ff79da;
}

.cercle-third {
  border-top: 10px solid #99e2d0;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.3;
  }
  95% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/*

@mixin btn{
    height: 50px;
    margin: auto;
    background:$gradient;
    color: white;
    font-weight: bold;            
    font-size: 0.9rem;
    border: 1px solid;
    border-radius: 30px;  
    opacity: 1;
    transition: opacity 200ms;

    &:hover{
        background: $gradient;
        opacity: 0.8;
    }
}*/
.header {
  width: 100%;
  grid-area: header;
  background-color: #f7f6f6;
}

.header__logo {
  width: 100%;
  background-color: white;
}

.logo {
  width: 35%;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
}

.footer {
  grid-area: footer;
  width: 100%;
  height: auto;
  background-color: #363535;
  color: white;
  margin: 0;
}

.footer__title {
  font-family: 'Shrikhand', sans-serif;
  font-size: 1.1rem;
  padding-left: 5%;
  margin-top: 20px;
}

.footer__link {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.footer__link a {
  color: white;
  display: flex;
  text-decoration: none;
  padding-top: 0px;
}

.footer__item p {
  font-size: 0.9rem;
  padding-top: 0%;
  margin-bottom: 10px;
  margin-top: 0px;
}

.footer__item .fas {
  font-size: 0.8rem;
  margin-right: 2%;
  margin-top: 0%;
}

#loader {
  width: 100vw;
  height: 100vh;
  margin: 0;
  animation: loader-hidden 4000ms forwards;
  position: absolute;
  z-index: 2;
}

@keyframes loader-hidden {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
    height: 100vh;
  }
  100% {
    opacity: 0;
    height: 0vh;
  }
}

.btn {
  height: 50px;
  margin: auto;
  background-color: linear-gradient(190deg, #ff79da 0%, #9356dc 100%);
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  border: 1px solid;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

.btn:hover::after {
  opacity: 0.7;
  background: linear-gradient(to top left, #ff79da, #9356dc);
}

.btn::after {
  content: "";
  border-radius: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
  transition: opacity 400ms;
  background: linear-gradient(190deg, #ff79da 0%, #9356dc 100%);
}

.btn--smallsize {
  width: 60%;
}

@media all and (min-width: 600px) and (max-width: 1200px) {
  .btn--fullsize {
    width: 80%;
  }
}

body {
  width: 100%;
  margin: 0;
}

.blocpage {
  margin: auto;
  min-width: 375px;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1800px 200px;
  grid-template-areas: "header" "main" "footer";
  font-family: 'Roboto' , sans-serif;
  animation: load  3000ms;
  background-color: #f7f6f6;
}

@media all and (min-width: 600px) and (max-width: 1200px) {
  .blocpage {
    min-width: 601px;
    max-width: 1200px;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1900px 200px;
    grid-template-areas: "header" "main" "footer";
  }
}

.main {
  width: 100%;
  margin: 0;
  grid-area: main;
}

.menucard__photo img {
  width: 100%;
  object-fit: cover;
}

.menucard__restaurant {
  transform: translateY(-70px);
  width: 100%;
  background-color: #f7f6f6;
  border-radius: 40px 40px 0px 0px;
  margin: 0;
}

.menucard__grid {
  display: grid;
  width: 95%;
  margin: auto;
  grid-column: 1fr;
  grid-row: repeat(4, 300px);
  grid-template-areas: "entree" "plat" "dessert";
}

.name {
  display: flex;
}

.name__title {
  margin-left: 3%;
  font-weight: 100;
  font-family: 'Shrikhand', sans-serif;
}

.container-entree {
  grid-area: entree;
}

.container-plat {
  grid-area: plat;
}

.container-dessert {
  grid-area: dessert;
}

.container {
  display: grid;
  width: 95%;
  margin: auto;
  grid-column: 1fr;
  grid-row: repeat(4, 70px);
  grid-template-areas: "title" "plat1" "plat2" "plat3";
  gap: 20px;
}

.container__title {
  margin-left: 3%;
  font-weight: 100;
  grid-area: title;
}

.container__title__separate {
  border: 1px solid #99E2D0;
}

.plat {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  animation: decalage 3s backwards;
  box-shadow: rgba(232, 232, 232, 0.9) 5px 5px 5px 5px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.plat:hover > .validator {
  animation: validator-hidden 1000ms forwards;
}

.plat:hover > .far {
  animation: turn 700ms forwards;
}

.plat:hover > .plat__price {
  animation: validator-hidden 1000ms forwards;
}

.plat__name {
  margin-left: 2%;
  padding-bottom: 10px;
  font-size: 1.1rem;
}

.plat__name p {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.plat__name span {
  font-weight: 100;
  font-size: 0.9rem;
}

.plat {
  display: flex;
  justify-content: space-between;
}

.plat__price {
  margin-right: 5%;
  padding-top: 40px;
  font-weight: bold;
}

@keyframes decalage {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.plat--1 {
  animation-delay: 3200ms;
  grid-area: plat1;
}

.plat--2 {
  animation-delay: 3400ms;
  grid-area: plat2;
}

.plat--3 {
  animation-delay: 3600ms;
  grid-area: plat3;
}

/*@keyframes validator-hidden{
    from{
      transform:translateX(0px);
    }
    to{
      transform:translateX(-70px);
    }
  }*/
@keyframes validator-hidden {
  from {
    width: 0;
  }
  to {
    width: 70px;
  }
}

@keyframes turn {
  from {
    transform: translateX(0px) rotate(0deg);
  }
  to {
    transform: translateX(-70px) rotate(360deg);
  }
}

.validator {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -70px;
  background-color: #99E2D0;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 0 15px 15px 0;
  z-index: 2;
}

.far {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  right: -40px;
  bottom: 25px;
  z-index: 2;
  transform: rotate(0deg);
  transition: rotate 1000ms;
  display: block;
}
/*# sourceMappingURL=essai.css.map */