@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Shrikhand&display=swap");
@keyframes loader-hidden {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
    height: 100vh;
  }
  100% {
    opacity: 0;
    height: 0vh;
  }
}

.cercles {
  display: flex;
  width: 150px;
  height: 150px;
  position: relative;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.cercle {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 50%;
  border: 10px solid transparent;
  animation: rotation 3s ease-in-out;
}

.cercle-first {
  border-top: 10px solid #c570d5;
}

.cercle-second {
  border-bottom: 10px solid #ff79da;
}

.cercle-third {
  border-top: 10px solid #99e2d0;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.3;
  }
  95% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/*

@mixin btn{
    height: 50px;
    margin: auto;
    background:$gradient;
    color: white;
    font-weight: bold;            
    font-size: 0.9rem;
    border: 1px solid;
    border-radius: 30px;  
    opacity: 1;
    transition: opacity 200ms;

    &:hover{
        background: $gradient;
        opacity: 0.8;
    }
}*/
.header {
  width: 100%;
  grid-area: header;
  background-color: #f7f6f6;
}

.header__logo {
  width: 100%;
  background-color: white;
}

.logo {
  width: 35%;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
}

.footer {
  grid-area: footer;
  width: 100%;
  height: auto;
  background-color: #363535;
  color: white;
  margin: 0;
}

.footer__title {
  font-family: 'Shrikhand', sans-serif;
  font-size: 1.1rem;
  padding-left: 5%;
  margin-top: 20px;
}

.footer__link {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.footer__link a {
  color: white;
  display: flex;
  text-decoration: none;
  padding-top: 0px;
}

.footer__item p {
  font-size: 0.9rem;
  padding-top: 0%;
  margin-bottom: 10px;
  margin-top: 0px;
}

.footer__item .fas {
  font-size: 0.8rem;
  margin-right: 2%;
  margin-top: 0%;
}

#loader {
  width: 100vw;
  height: 100vh;
  margin: 0;
  animation: loader-hidden 4000ms forwards;
  position: absolute;
  z-index: 2;
}

@keyframes loader-hidden {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
    height: 100vh;
  }
  100% {
    opacity: 0;
    height: 0vh;
  }
}

.btn {
  height: 50px;
  margin: auto;
  background-color: linear-gradient(190deg, #ff79da 0%, #9356dc 100%);
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  border: 1px solid;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

.btn:hover::after {
  opacity: 0.7;
  background: linear-gradient(to top left, #ff79da, #9356dc);
}

.btn::after {
  content: "";
  border-radius: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
  transition: opacity 400ms;
  background: linear-gradient(190deg, #ff79da 0%, #9356dc 100%);
}

.btn--smallsize {
  width: 60%;
}

@media all and (min-width: 600px) and (max-width: 1200px) {
  .btn--fullsize {
    width: 80%;
  }
}

/*-----     LOADER    ------*/
/*      CORPS DU SITE       */
.blocpage {
  min-width: 375px;
  max-width: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 1670px 200px;
  grid-template-areas: "header" "main" "footer";
  font-family: 'Roboto' , sans-serif;
  background-color: #f6f6f6;
  animation: load  3000ms;
  position: absolute;
  z-index: 1;
}

/*    MEDIA QUERIES   */
@media all and (min-width: 600px) and (max-width: 1200px) {
  .blocpage {
    min-width: 601px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 1100px 200px;
    grid-template-areas: "header" "main" "footer";
    margin: auto;
  }
}

/*--------- HEADER  --------*/
/*---------     LOGO    ----------*/
/*-------      LOCALISATION       ------*/
.location {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: inset 0px 3px 2px #cfcfcf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location .fas {
  margin-right: 5%;
  padding-bottom: 5px;
}

.location p {
  font-size: 1.1rem;
}

/*-------       EXPLORATION     -----*/
.exploration {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 30px 60px;
  grid-gap: 20px;
}

.exploration__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 30px;
}

.exploration__undertitle {
  text-align: center;
  font-weight: 100;
  font-size: 1.1rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
}

/*    MAIN    */
main {
  grid-area: main;
  background-color: #f6f6f6;
}

aside {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: white;
}

.fonctionnement {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 75px 75px 75px;
  grid-gap: 30px;
}

.fonctionnement__title {
  grid-row: 1/1;
  grid-column: 1/1;
  font-size: 1.1rem;
  margin-left: 2%;
}

.fonctionnement__card {
  width: 100%;
  margin: auto;
  height: 75px;
  border-radius: 25px;
  background-color: #f7f6f6;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: background-color 300ms;
}

.fonctionnement__card:hover {
  background-color: #f5edfe;
}

.fonctionnement__card:hover .fas {
  color: #9356DC;
}

.fonctionnement #firststep {
  grid-column: 1;
  grid-row: 2;
}

.fonctionnement #secondstep {
  grid-column: 1;
  grid-row: 3;
}

.fonctionnement #thirdstep {
  grid-column: 1;
  grid-row: 4;
}

.fonctionnement__number {
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 20px;
  text-align: center;
  position: relative;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
}

.fonctionnement__number span {
  color: white;
}

.fonctionnement__description {
  display: flex;
  align-items: center;
}

.fonctionnement__description .fas {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: gray;
}

.fonctionnement__description p {
  margin-left: 20px;
  font-size: 1.1rem;
  white-space: nowrap;
}

/*    MEDIA QUERIES   */
@media all and (min-width: 600px) and (max-width: 1200px) {
  .fonctionnement {
    width: 90%;
  }
  .fonctionnement__card {
    width: 50%;
  }
  .fonctionnement__card:hover {
    background-color: #f5edfe;
  }
  .fonctionnement__card:hover .fas {
    color: #9356DC;
  }
  .fonctionnement #firststep {
    margin-left: 2%;
  }
  .fonctionnement #secondstep {
    margin-left: 25%;
  }
  .fonctionnement #thirdstep {
    margin-left: 50%;
  }
  .fonctionnement__description {
    display: flex;
    align-items: center;
  }
  .fonctionnement__description .fas {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: gray;
  }
  .fonctionnement__description p {
    margin-left: 20px;
    font-size: 1.1rem;
    white-space: nowrap;
  }
}

/*.fonctionnement{
    width: 97%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 50px);
    gap:10px 0px;
  
  &__card{
    height: 50px;
  }
  &__number{
      display: none;
  }

  &__description {
    border: 1px solid red;

    p{
      font-size:1.1rem;
      margin-left: 3%;
      width: 100%;
    }
    
    .fas{
      font-size: 1.1rem;
    }
  }

 

  &__title{
    grid-column-start: 1;
    grid-column-end: 4 ;
    grid-row-start: 1;
    grid-row-end: 1;
  }

#firststep{
  grid-column: 1 / 2;
  grid-row: 2;
}

#secondstep{
  grid-column: 2 / 3;
  grid-row: 3/3;
}

#thirdstep{
  grid-column: 3 / 4;
  grid-row: 4;
}

}

}*/
/* -------      SECTION RESTAURANTS     -------*/
.restaurant {
  width: 100%;
  background-color: #f6f6f6;
  display: grid;
  width: 89%;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 250px 250px 250px 250px;
  grid-template-areas: "restaurant-title" "r1" "r2" "r3" "r4";
  grid-gap: 20px;
  margin: auto;
}

.restaurant__title {
  grid-area: restaurant-title;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 2%;
}

.restaurant #resto1 {
  grid-area: r1;
}

.restaurant #resto2 {
  grid-area: r2;
}

.restaurant #resto3 {
  grid-area: r3;
}

.restaurant #resto4 {
  grid-area: r4;
}

.restaurant__card {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  border: white 1px solid;
  border-radius: 15px;
  box-shadow: rgba(247, 246, 246, 0.9) 5px 5px 5px 5px;
  margin-bottom: 20px;
  color: black;
  text-decoration: none;
  grid-area: home-restaurant;
}

.restaurant__card .new {
  display: none;
}

.restaurant__img {
  width: 100%;
  height: 175px;
}

.restaurant__img img {
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.restaurant__infos {
  display: flex;
  width: 100%;
  margin-top: 15px;
  justify-content: space-between;
}

.restaurant__description {
  width: 70%;
  padding-left: 2%;
}

.restaurant__description p {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;
}

.restaurant__description span {
  font-weight: 100;
}

.restaurant__iconeheart {
  width: 10%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: red 1px solid;
}

.restaurant__iconeheart .far {
  font-size: 1.6rem;
}

.restaurant__card--new .new {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
  background-color: #99E2D0;
  color: green;
  width: 25%;
  height: 30px;
  font-size: 0.9rem;
  border-radius: 5%;
  transform: translate(280%, -560%);
}

.restaurant__card--new .new p {
  margin: auto;
}

@media all and (min-width: 600px) and (max-width: 1200px) {
  .restaurant {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 250px 250px;
    grid-gap: 20px;
    grid-template-areas: "restaurant-title restaurant-title" "r1 r2" "r3 r4";
  }
}
/*# sourceMappingURL=home.css.map */