/*

@mixin btn{
    height: 50px;
    margin: auto;
    background:$gradient;
    color: white;
    font-weight: bold;            
    font-size: 0.9rem;
    border: 1px solid;
    border-radius: 30px;  
    opacity: 1;
    transition: opacity 200ms;

    &:hover{
        background: $gradient;
        opacity: 0.8;
    }
}*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Shrikhand&display=swap");
.header {
  width: 100%;
  grid-area: header;
  background-color: white;
}

.logo-img {
  width: 40%;
  height: 2%;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.logo--back {
  display: flex;
  align-items: center;
}

.fa-arrow-left {
  font-size: 1.5rem;
  margin-left: 30px;
  color: black;
}

.footer {
  margin: 0;
  padding: 0;
  grid-area: footer;
  width: 100%;
  background-color: #363535;
  color: white;
}

.footer__title {
  font-family: 'Shrikhand', sans-serif;
  font-size: 1.1rem;
  padding-left: 5%;
  margin-top: 20px;
}

.footer__link {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  margin-left: 5%;
}

.footer__link a {
  color: white;
  display: flex;
  text-decoration: none;
}

.footer__item {
  font-size: 0.9rem;
  padding-top: 0%;
  margin-bottom: 10px;
}

.footer .fas {
  font-size: 0.8rem;
  margin-right: 2%;
}

#loader {
  width: 100vw;
  height: 100vh;
  margin: 0;
  animation: loader-hidden 4000ms forwards;
  position: absolute;
  z-index: 2;
}

@keyframes loader-hidden {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
    height: 100vh;
  }
  100% {
    opacity: 0;
    height: 0vh;
  }
}

.cercles {
  display: flex;
  width: 150px;
  height: 150px;
  position: relative;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.cercle {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 50%;
  border: 10px solid transparent;
  animation: rotation 3s ease-in-out;
}

.cercle-first {
  border-top: 10px solid #c570d5;
}

.cercle-second {
  border-bottom: 10px solid #ff79da;
}

.cercle-third {
  border-top: 10px solid #99e2d0;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.3;
  }
  95% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loader-hidden {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
    height: 100vh;
  }
  100% {
    opacity: 0;
    height: 0vh;
  }
}

.btn {
  height: 50px;
  margin: auto;
  background-color: linear-gradient(190deg, #ff79da 0%, #9356dc 100%);
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  border: 1px solid;
  border-radius: 30px;
  position: relative;
  z-index: 1;
}

.btn:hover::after {
  opacity: 0.7;
  background: linear-gradient(to top left, #ff79da, #9356dc);
}

.btn::after {
  content: "";
  border-radius: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
  transition: opacity 400ms;
  background: linear-gradient(190deg, #ff79da 0%, #9356dc 100%);
}

.btn--smallsize {
  width: 50%;
}

.btn--fullsize {
  width: 60%;
}

.heart-container {
  font-size: 50px;
  width: 30px;
  height: 30px;
}

.heart-container--grey {
  background-color: #f7f6f6;
}

.heart-container--white {
  background-color: white;
}

.heart-container i {
  position: absolute;
  font-size: 1.6rem;
}

.fullheart {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 1;
  background-image: linear-gradient(#e66465, #9198e5);
  z-index: 1;
}

.heart-container .far {
  color: black;
  z-index: 2;
}

.heart-container .far:hover > .rideau {
  height: 0;
}

.rideau {
  width: 30px;
  height: 30px;
  color: transparent;
  transition: height 2s;
  transition-timing-function: ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.rideau--grey {
  background-color: #f7f6f6;
}

.rideau--white {
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blocpage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 200px;
  grid-template-areas: "header" "main" "footer";
  font-family: 'Roboto' , sans-serif;
  background-color: #f7f6f6;
}

/*    MAIN    */
main {
  width: 100%;
  grid-area: main;
  padding-bottom: 100px;
}

.menucard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menucard__photo img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.menucard__container {
  transform: translateY(-100px);
  width: 100%;
  background-color: #f7f6f6;
  border-radius: 40px 40px 0px 0px;
  margin: 0;
}

.menucard__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menucard__name {
  font-size: 1.5rem;
  font-family: 'Shrikhand', sans-serif;
}

.menucard__grid {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "entree" "plat" "dessert";
  gap: 30px;
}

@media all and (min-width: 768px) and (max-width: 1199px) {
  .menucard__name {
    font-size: 2.5rem;
  }
}

@media all and (min-width: 1200px) {
  .menucard__photo img {
    height: 400px;
  }
  .menucard__name {
    font-size: 2.5rem;
  }
  .menucard__container {
    width: 97%;
    height: auto;
    margin: auto;
    transform: translateY(-75px);
    box-shadow: rgba(232, 232, 232, 0.9) 5px 5px 5px 5px;
    border-radius: 40px;
  }
  .menucard__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "entree plat dessert";
    column-gap: 0;
    padding-bottom: 50px;
    margin: auto;
  }
}

.menucard-cat__entree {
  grid-area: entree;
}

.menucard-cat__plat {
  grid-area: plat;
}

.menucard-cat__dessert {
  grid-area: dessert;
}

.menucard-cat {
  display: grid;
  width: 90%;
  margin: auto;
  margin-top: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 70px 70px 70px auto;
  grid-template-areas: "title" "plat1" "plat2" "plat3" "plat4";
  gap: 10px;
}

.cat__title {
  font-weight: 100;
  grid-area: title;
}

.separate {
  border: 2px solid #99E2D0;
  width: 55px;
  margin-top: 10px;
}

.plat {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  animation: decalage 3s backwards;
  box-shadow: rgba(232, 232, 232, 0.9) 5px 5px 5px 5px;
  overflow: hidden;
}

@media all and (min-width: 768px) and (max-width: 1199px) {
  .plat {
    width: 60%;
  }
}

.plat:hover > .validator {
  width: 70px;
}

.plat:hover > .validator > .validate {
  animation: turn 500ms forwards;
}

.plat__description {
  width: 90%;
  margin-left: 2%;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 0;
}

.plat__name {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.plat__subtitle {
  font-weight: 100;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.plat__price {
  width: 40px;
  padding-top: 40px;
  font-weight: bold;
}

@keyframes decalage {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.plat--1 {
  animation-delay: 200ms;
  grid-area: plat1;
}

.plat--2 {
  animation-delay: 400ms;
  grid-area: plat2;
}

.plat--3 {
  animation-delay: 600ms;
  grid-area: plat3;
}

.plat--4 {
  animation-delay: 800ms;
  grid-area: plat4;
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes price {
  from {
    transform: translateX(40px);
  }
  to {
    transform: translateX(-10px);
  }
}

.validator {
  background-color: #99E2D0;
  width: 0px;
  height: 60px;
  margin: 0;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms ease-in-out;
}

.validate {
  color: white;
  font-size: 1.5rem;
  transform-origin: center;
}
/*# sourceMappingURL=stylesmenu.css.map */