@import "./utils/variables";

@import "./utils/mixins";

@import "./base/polices";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/loader";

@import "./composants/buttons";
@import "./composants/heart";


/*      CORPS DU SITE       */

body{
  margin: 0;
  padding: 0;
}

.blocpage{
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns:1fr;
  grid-template-rows:auto auto 200px;
  grid-template-areas:
                     "header"
                      "main"
                      "footer";
  font-family: 'Roboto' , sans-serif;
  background-color: rgb(246, 246, 246);
  animation: load  3000ms;
  z-index: 1;
}


/*    MEDIA QUERIES   */

@media all and (min-width:768px) 
{
  .blocpage{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: auto auto 200px;
    grid-template-areas:
                        "header"
                        "main"
                        "footer";
  }
}


/*--------- HEADER  --------*/

.logo{
  .arrow{
    display: none;
  }
}

   /*    MAIN    */

main{
  grid-area:main;
  background-color: rgb(246, 246, 246); 
  margin-bottom: 100px;
}
  
  
/*-------      LOCALISATION       ------*/

.location {
  width: 100%;
  height: 50px;
  background-color:rgb(234, 234, 234);
  box-shadow: inset 0px 3px 2px rgb(207, 207, 207);
  display: flex;
  justify-content: center;
  align-items: center;

        .fas{
        margin-right: 5%;
        padding-bottom: 5px;
        }

        p {
        font-size: 1.1rem;
        }
} 
    

/*-------       EXPLORATION     -----*/

  .exploration {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;


  &__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 30px;
  }

  &__undertitle{
    text-align: center;
    font-weight: 100;
    font-size: 1.1rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
.btn{
  margin-bottom: 50px;
}
 

/*    FONCTIONNEMENT    */
aside{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: white;
}
.fonctionnement-title{
  font-size: 1.1rem;
  margin-left: 2%;
}
.fonctionnement {
width: 80%;
margin: auto;
display: flex;
flex-direction: column;


  &__card{
    width: 100%;
    height: 75px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: rgb(247, 246, 246);
    box-shadow: rgba(232 , 232 , 232 , 0.9) 5px 5px 5px 1px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:black;
    transition: background-color 300ms;
    
    &:hover { 
      background-color:rgb(245 , 237 , 254); 
      
        .fas { 
          color: $color-primary;
        }
    }
    
}
  
&__number{
  @include number;

  span {
    color: white;
  } 
}         

&__description{
  display: flex;
  align-items: center;

  .fas {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: gray;
  }

  p{
  margin-left: 20px;
  font-size: 1.1rem;
  white-space: nowrap;
  }   
}
}
            
    /*    MEDIA QUERIES   */

@media all and (min-width:768px) and (max-width:992px) {

  .fonctionnement {
    width: 90%;
      
    
      &__card{
        width: 40%;
    }
      
        #firststep{
          margin-left: 2%;
        }
        
        #secondstep{
          margin-left: 25%;
        }
    
        #thirdstep{
          margin-left: 48%;
        }
      
      }
    } 
@media all and (min-width:993px) {
  .fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__card{
      width: 35%;
      margin-bottom: 0;
      margin-right: 5%;
      padding-right: 1%;
    }
  }
}

/* -------      SECTION RESTAURANTS     -------*/

.restaurant {
  width: 100%;
  background-color: rgb(246, 246, 246); 
  display: grid;
  width:89%;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 250px 250px 250px 250px;
  grid-template-areas: "restaurant-title"
                        "r1"
                        "r2"
                        "r3"
                        "r4";
  grid-gap:20px;
  margin: auto;

&__title {
  grid-area:restaurant-title;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 2%
}

#resto1{
  grid-area: r1;
}  
#resto2{
  grid-area: r2;
}  
#resto3{
  grid-area: r3;
} 
#resto4{
  grid-area: r4;
}         

&__card {
  @include home-block-restaurant;
  grid-area:home-restaurant;
  
  .new {
    display: none;
    }
}

&__img {
  width: 100%;
  height: 175px;

  img {
  @include home-img;
  }
}

&__infos {
  display: flex;
  width: 100%;
  margin-top: 15px;
  justify-content: space-between;
}


&__description{
  width: 70%;
  padding-left: 2%;

        p{
          font-size: 1.1rem;
          font-weight: bold;
          margin-bottom: 5px;
          margin-top: 0;
        }

        span{
          font-weight: 100;
        }
  }
}

.restaurant__card--new {
  .new{
    display: block;
    @include new;

  p{
    margin: auto;
  }
}
}

@media all and (min-width:768px) {

  .restaurant{
        grid-template-columns: 50% 50%;
        grid-template-rows: 50px 250px 250px;
        grid-gap:20px;
        grid-template-areas: "restaurant-title restaurant-title"
                              "r1 r2"
                              "r3 r4";
  }
}

