@import "./SASS/utils/mixins";

@import "./SASS/base/polices";

@import "./SASS/utils/_variables";



.blocpage{
    @include blocpagemobile;
}   

header {
    .websitename_back{
        display: flex;
        justify-content: center;
        align-items: center;

        
      
    }
}

.imgala {
    display: flex;
    width: 100%;
   

    img{
        width: 100%;
    }
}


    footer {
        background-color: rgb(54, 53, 53);
        color: white;
        width: 100%;
        height: auto;
        
        .home-footer {
          display: flex;
          flex-direction: column;

        a{
         @include footerlink;
        }
          h1{
            font-family: 'Shrikhand' , sans-serif;
            font-size: 1.4rem;
          }

          .fas{
           margin-right: 2%; 
          }
        }    
    }