@import "./SASS/utils/variables";

@import "./SASS/utils/mixins";

@import "./SASS/base/polices";

@import "./SASS/layout/header";
@import "./SASS/layout/footer";
@import "./SASS/layout/loader";

@import "./SASS/composants/buttons";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.blocpage{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 60px 1500px 200px;
  grid-template-areas:
                     "header"
                      "main"
                      "footer";
  font-family: 'Roboto' , sans-serif;
  background-color: rgb(247, 246, 246);
}

@media all and (min-width:768px) and (max-width:992px)
{
  .blocpage{
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 100px 1800px 200px;
    grid-template-areas:"header"
                        "main"
                        "footer";
  }
}
@media all and (min-width:993px){

  .blocpage{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 100px 1000px 200px;
  grid-template-areas:"header"
                      "main"
                      "footer";
}
}


main{
  width: 100%;
  grid-area: main;
}


.menucard{

&__photo{
    img{
      width: 100%;
    object-fit: cover;
    } 
  }

&__restaurant{
  transform:translateY(-100px);
  width: 100%;
  background-color: rgb(247, 246, 246);
  border-radius: 40px 40px 0px 0px;
  margin: 0;
  }

  &__grid{
  display: grid;
  width: 95%;
  margin: auto;
  grid-column: 1fr;
  grid-row: repeat(3, 300px);
  grid-template-areas: "entree"
                        "plat"
                        "dessert";
  gap: 30px;
  }
}
@media all and (min-width:768px) and (max-width:992px){
  .menucard__grid{
    width: 70%;
  }
}
@media all and (min-width:993px) {
  .menucard{
    
    &__photo{
      img{
        height: 400px;
      }
    }

    &__restaurant{
      width: 90%;
      height: auto;
      margin: auto;
      transform:translateY(-50px);
      box-shadow: rgba(232 , 232 , 232 , 0.9) 5px 5px 5px 5px;
      border-radius: 40px;
    }
    &__grid{
      grid-column: 3fr;
      grid-row: 1fr;
      grid-template-areas: "entree plat dessert";
      column-gap:0;
}
}
}

.name{
  display: flex;

  &__title{
    grid-area: title;
    margin-left: 5%;
    font-family: 'Shrikhand', sans-serif;
  }
}

.container-entree{
  grid-area: entree;
}
.container-plat{
  grid-area: plat;
}
.container-dessert{
  grid-area: dessert;
}

.container{
  display: grid;
  width: 95%;
  margin: auto;
  grid-column: 1fr;
  grid-row: repeat(4, 70px);
  grid-template-areas: "title"
                      "plat1"
                      "plat2"
                      "plat3";
  gap: 10px;

&__title{
  font-weight: 100;
  grid-area: title;
}
}
.separate{
  border: 2px solid $color-tertiary;
  width: 55px;
  margin-top: 10px;
}


.plat{
    display: flex;
    width: 97%;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    animation: decalage 3s backwards;
    box-shadow: rgba(232 , 232 , 232 , 0.9) 5px 5px 5px 5px;
    overflow: hidden;
    position:relative;
    z-index:1;

@media all and (min-width:600px) and (max-width:1200px){
.plat{
  width: 30%;
}
}

    &:hover{
      & > .validator {
        animation: validator-hidden 1000ms forwards;
      }

      & > .far{
        animation: turn 700ms forwards;
      }


      & > .plat__price{
        animation: validator-hidden 1000ms forwards;
      }
    }

  &__name{
    margin-left: 2%;
    padding-bottom: 10px;
    font-size: 1.1rem;

  p{
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  span{
      font-weight: 100;
      font-size: 0.9rem;
    }
  }
  }

.plat{
  display: flex;
  justify-content: space-between;
  
}
.plat__price{
  margin-right: 5%;
  padding-top: 40px;
  font-weight: bold;
}

@keyframes decalage{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.plat--1 {
    animation-delay: 200ms;
    grid-area: plat1;
}
.plat--2 {
    animation-delay: 400ms;
    grid-area: plat2;
}
.plat--3 {
    animation-delay: 600ms;
    grid-area: plat3;
}



@keyframes validator-hidden{
    from{
      transform:translateX(0px);
    }
    to{
      transform:translateX(-50px);
    }
  }

@keyframes turn{
  from{
    transform:translateX(0px) rotate(0deg);
  }
  to{
    transform:translateX(-50px) rotate(360deg);
  }
}

.validator{
    position:absolute;
    top: 0;
    bottom: 0;
    right:-50px;
    background-color:#99E2D0;
    color:white;
    width:50px;
    height:70px;
    border-radius:0 15px 15px 0;
    z-index:2;
}
    
    .far{
      color:white;
      font-size: 1.5rem;
      position: absolute;
      right: -35px;
      bottom: 25px;
      z-index: 2;
      transform: rotate(0deg);
      transition: rotate 1000ms;
      display: block;
    }

