@mixin loader{
    width:100vw;
  height: 100vh;
  margin: 0;
  animation: loader-hidden 4000ms forwards;
  position: absolute;
  z-index: 2;
}

@keyframes loader-hidden{
  0%   {opacity: 1;}
  25%  {opacity: 1;
        height: 100vh;}
  100% {opacity: 0;
      height: 0vh;
  }
}

.cercles{
  display: flex;
  width: 150px;
  height: 150px;
  position: relative;
  top: 50vh;
  left: 50%;
  transform: translate(-50% , -50%);
  position: fixed;
}

.cercle{
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 50%;
  border: 10px solid transparent;
  animation: rotation 3s ease-in-out ;
}
.cercle-first {
border-top: 10px solid rgb(197,112,213);
}

.cercle-second{
border-bottom: 10px solid rgb(255,121,218);
}

.cercle-third{
  border-top: 10px solid rgb(153,226,208); 
}

@keyframes rotation {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform:  rotate(360deg);
  }
}

@keyframes load{
  0%{
    opacity: 0;
}

50%{
  opacity: 0.2;
}
75%{
  opacity: 0.3;
}
95%{
  opacity: 0.4;
}
100%{
    opacity: 1;
}
}

@mixin body{
    width:100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}


@mixin logo {
    width: 35%;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
}

@mixin btn {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding: 5%;      
    background-color:$gradient;
    color: white;
    font-weight: bold;            
    font-size: 0.9rem;
    border: 1px solid;
    border-radius: 30px;  
    position: relative;              
    z-index: 1;   
  
    &:hover{
      &::after {
      opacity: 0.7;
      background: $color-btn-end;
    }
  }
    &::after {
      content: "";
      border-radius: 30px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 1;
      z-index: -1;
      transition: opacity 400ms; 
      background:  $gradient;
    }
  }
/*

@mixin btn{
    height: 50px;
    margin: auto;
    background:$gradient;
    color: white;
    font-weight: bold;            
    font-size: 0.9rem;
    border: 1px solid;
    border-radius: 30px;  
    opacity: 1;
    transition: opacity 200ms;

    &:hover{
        background: $gradient;
        opacity: 0.8;
    }
}*/


@mixin websitename-back {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Shrikhand', sans-serif;
    font-size: 1.5rem;
    height: 80px;
    margin: 0%;
}


@mixin home-operation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 270px;
    margin: auto;
}


@mixin number {
        width: 25px;
        height: 25px;
        background-color: $color-primary;
        border: 1px solid $color-primary;
        border-radius: 20px;
        text-align: center;
        position: relative;
        right:10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5%;
}

@mixin home-block-restaurant {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    border: white 1px solid;
    border-radius: 15px;
    box-shadow: rgba(247 , 246 , 246 , 0.9) 5px 5px 5px 5px ;
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
}

@mixin home-img {
    width: 100%;
    height: 175px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    
}

@mixin new {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    background-color: $color-tertiary;
    color: green;
    width: 25%;
    height: 30px;
    font-size: 0.9rem;
    border-radius: 5%;
    transform: translate(280% , -560%);
}


@mixin footer {
    grid-area:footer;
  width: 100%;
  height: auto; 
  background-color: rgb(54, 53, 53);
  color: white;


&__title{
  font-family: 'Shrikhand', sans-serif;
  font-size: 1.1rem;
  padding-left: 5%;
  margin-top: 20px;
}

&__link{
  display: flex;
  flex-direction: column;
  margin-left: 5%;

a{
  color: white;
  display: flex;
  text-decoration: none;
  padding-top: 0px;
}
}

&__item{
  p{
    font-size: 0.9rem;
    padding-top: 0%;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .fas{
    font-size: 0.8rem;
    margin-right: 2%; 
    margin-top: 0%;
  }
}
}