@mixin logo {
    width: 40%;
    height:2%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

@mixin btn {
    height: 50px;
    margin: auto;
    background-color:$gradient;
    color: white;
    font-weight: bold;            
    font-size: 0.9rem;
    border: 1px solid;
    border-radius: 30px;  
    position: relative;              
    z-index: 1;   
  
    &:hover{
      &::after {
      opacity: 0.7;
      background: $color-btn-end;
    }
  }
    &::after {
      content: "";
      border-radius: 30px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 1;
      z-index: -1;
      transition: opacity 400ms; 
      background:  $gradient;
    }
  }
/*

@mixin btn{
    height: 50px;
    margin: auto;
    background:$gradient;
    color: white;
    font-weight: bold;            
    font-size: 0.9rem;
    border: 1px solid;
    border-radius: 30px;  
    opacity: 1;
    transition: opacity 200ms;

    &:hover{
        background: $gradient;
        opacity: 0.8;
    }
}*/



@mixin home-operation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 270px;
    margin: auto;
}


@mixin number {
        width: 25px;
        height: 25px;
        background-color: $color-primary;
        border: 1px solid $color-primary;
        border-radius: 20px;
        text-align: center;
        position: relative;
        right:10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5%;
}

@mixin home-block-restaurant {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    border: white 1px solid;
    border-radius: 15px;
    box-shadow: rgba(232 , 232 , 232 , 0.9) 5px 5px 5px 2px;
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
}

@mixin home-img {
    width: 100%;
    height: 175px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    
}

@mixin new {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    background-color: $color-tertiary;
    color: green;
    width: 25%;
    height: 30px;
    font-size: 0.9rem;
    border-radius: 5%;
    transform: translate(280% , -560%);
}