$color-primary :#9356DC;
$color-btn-start:linear-gradient(to bottom right, rgba(255,121,218,1), rgba(147,86,220,1)) ;
$color-btn-end:linear-gradient(to top left, rgba(255,121,218,0.7), rgba(147,86,220,0.7));

$color-secondary: #FF79DA;
$color-tertiary:#99E2D0;

$gradient :linear-gradient(190deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);